/* StyledText.css */
.wd-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6d8db; /* Background color similar to your image */
  }
  

.styled-box {
    display: inline-block; /* Makes the box fit tightly around the text */
    border: 1px solid #ccc; /* Border color */
    border-radius: 20px; /* Rounded corners */
    padding: 5px 10px; /* Padding inside the box */
    font-size: 1em; /* Adjust font size as needed */
    background-color: #adb5bd  /* Optional: background color */
}