/* #wd-courses-navigation > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
  } */
  
  #wd-courses-navigation > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
  }
  
  #wd-courses-navigation {
    min-width: 200px; /* Adjust as needed */
  }
  
  .content {
    flex-grow: 1;
  }